  <!-- Header / Top Navbar -->
    <nav class="navbar navbar-expand-lg admin-navbar sticky-top flex-md-nowrap p-0">
        <div class="d-flex justify-content-between align-items-center col-md-3 col-lg-2 px-3">
            <a class="navbar-brand me-0 fs-5" href="/admin">
                <i class="bi bi-hexagon-fill text-primary me-2" style="color: var(--admin-primary) !important;"></i>Store
            </a>
            <button class="btn btn-link text-dark p-0 border-0 d-md-none" type="button" id="sidebarToggleMobile">
                <i class="bi bi-list fs-3"></i>
            </button>
            <button class="btn btn-link text-dark p-0 border-0 d-none d-md-block ms-auto" type="button" id="sidebarToggle">
                <i class="bi bi-list fs-4"></i>
            </button>
        </div>
        <div class="navbar-nav ms-auto pe-4">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3 d-flex align-items-center gap-2" href="#">
                    <i class="bi bi-person-circle fs-5"></i>
                    <span>Sign out</span>
                </a>
            </div>
        </div>
    </nav>